{% extends 'baseHeaderFooter/header.html.twig' %}

{% block title %}Hello Home{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <div class="partner-header">
                <div class="row">
                    <div class="col-md-2">
                        <div class="partner-header__wapper"><img class="partner-header__image"
                                src="assets/img/partner-details/partner-header.png" alt="University of maryland"></div>
                    </div>
                    <div class="col-md-10">
                        <div class="partner-header__title">University of Maryland, College Park</div>
                        <div class="partner-header__content">The University of Maryland is the state's flagship university
                            and one of the nation's preeminent public research universities. A global leader in research,
                            entrepreneurship and innovation, the university is home to more than 37,000 students, 9,000
                            faculty and staff, and 250 academic programs. Its faculty includes three Nobel laureates, three
                            Pulitzer Prize winners, 47 members of the national academies and scores of Fulbright scholars.
                            The institution has a $1.8 billion operating budget, secures $500 million annually in external
                            research funding and recently completed a $1 billion fundraising campaign.</div>
                    </div>
                </div>
            </div>
            <div class="our-course">
                <div class="our-course__title">LISTE DE LEUR OFFRES</div>
                <div class="row courses__list ">
                    <div class="col-lg-3 col-md-4 col-sm-6 courses__item">
                        <div class="courses__wapper">
                            <div class="col-equal courses__top">
                                <div class="courses__top__wapper"><img class="courses__top__image"
                                        src="assets/img/courses-image/0.jpg" alt=""></div>
                                <div class="courses__top__bundle">bundle</div>
                                <div class="courses__top__bt-seller">best seller</div>
                                <div class="courses__hover">
                                    <div class="courses__hover-content"><span class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span
                                            class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-equal courses__content"><a class="courses__content__title" href="#">neutal
                                    networks and for deep learning</a>
                                <div class="courses__content__author"><a class="courses__col-left" href="#"><span
                                            class="courses__content__avatar"><img class="courses__content__image"
                                                src="assets/img/partner/partner-details-0.png" alt=""></span><span
                                            class="courses__content__author-name">Anthony Leath</span></a>
                                    <div class="courses__col-right">
                                        <div class="rating-start" data-rating="5"></div>
                                    </div>
                                </div>
                                <div class="courses__content__info">
                                    <div class="courses__col-left">
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-shapes icon-custom"></span></span><span
                                                class="courses__content__number">349</span></div>
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span
                                                class="courses__content__number">2678</span></div>
                                    </div>
                                    <div class="courses__col-right courses__content__price">$100</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 courses__item">
                        <div class="courses__wapper">
                            <div class="col-equal courses__top">
                                <div class="courses__top__wapper"><img class="courses__top__image"
                                        src="assets/img/courses-image/1.jpg" alt=""></div>
                                <div class="courses__top__bundle">bundle</div>
                                <div class="courses__top__bt-seller">best seller</div>
                                <div class="courses__hover">
                                    <div class="courses__hover-content"><span class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span
                                            class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-equal courses__content"><a class="courses__content__title" href="#">neutal
                                    networks and for deep learning</a>
                                <div class="courses__content__author"><a class="courses__col-left" href="#"><span
                                            class="courses__content__avatar"><img class="courses__content__image"
                                                src="assets/img/partner/partner-details-1.png" alt=""></span><span
                                            class="courses__content__author-name">Anthony Leath</span></a>
                                    <div class="courses__col-right">
                                        <div class="rating-start" data-rating="5"></div>
                                    </div>
                                </div>
                                <div class="courses__content__info">
                                    <div class="courses__col-left">
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-shapes icon-custom"></span></span><span
                                                class="courses__content__number">349</span></div>
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span
                                                class="courses__content__number">2678</span></div>
                                    </div>
                                    <div class="courses__col-right courses__content__price">$100</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 courses__item">
                        <div class="courses__wapper">
                            <div class="col-equal courses__top">
                                <div class="courses__top__wapper"><img class="courses__top__image"
                                        src="assets/img/courses-image/2.jpg" alt=""></div>
                                <div class="courses__top__bundle">bundle</div>
                                <div class="courses__top__bt-seller">best seller</div>
                                <div class="courses__hover">
                                    <div class="courses__hover-content"><span class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span
                                            class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-equal courses__content"><a class="courses__content__title" href="#">neutal
                                    networks and for deep learning</a>
                                <div class="courses__content__author"><a class="courses__col-left" href="#"><span
                                            class="courses__content__avatar"><img class="courses__content__image"
                                                src="assets/img/partner/partner-details-2.png" alt=""></span><span
                                            class="courses__content__author-name">Anthony Leath</span></a>
                                    <div class="courses__col-right">
                                        <div class="rating-start" data-rating="5"></div>
                                    </div>
                                </div>
                                <div class="courses__content__info">
                                    <div class="courses__col-left">
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-shapes icon-custom"></span></span><span
                                                class="courses__content__number">349</span></div>
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span
                                                class="courses__content__number">2678</span></div>
                                    </div>
                                    <div class="courses__col-right courses__content__price">$100</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 courses__item">
                        <div class="courses__wapper">
                            <div class="col-equal courses__top">
                                <div class="courses__top__wapper"><img class="courses__top__image"
                                        src="assets/img/courses-image/3.jpg" alt=""></div>
                                <div class="courses__top__bundle">bundle</div>
                                <div class="courses__top__bt-seller">best seller</div>
                                <div class="courses__hover">
                                    <div class="courses__hover-content"><span class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span
                                            class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-equal courses__content"><a class="courses__content__title" href="#">neutal
                                    networks and for deep learning</a>
                                <div class="courses__content__author"><a class="courses__col-left" href="#"><span
                                            class="courses__content__avatar"><img class="courses__content__image"
                                                src="assets/img/partner/partner-details-3.png" alt=""></span><span
                                            class="courses__content__author-name">Anthony Leath</span></a>
                                    <div class="courses__col-right">
                                        <div class="rating-start" data-rating="5"></div>
                                    </div>
                                </div>
                                <div class="courses__content__info">
                                    <div class="courses__col-left">
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-shapes icon-custom"></span></span><span
                                                class="courses__content__number">349</span></div>
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span
                                                class="courses__content__number">2678</span></div>
                                    </div>
                                    <div class="courses__col-right courses__content__price">$100</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 courses__item">
                        <div class="courses__wapper">
                            <div class="col-equal courses__top">
                                <div class="courses__top__wapper"><img class="courses__top__image"
                                        src="assets/img/courses-image/4.jpg" alt=""></div>
                                <div class="courses__top__bundle">bundle</div>
                                <div class="courses__top__bt-seller">best seller</div>
                                <div class="courses__hover">
                                    <div class="courses__hover-content"><span class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span
                                            class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-equal courses__content"><a class="courses__content__title" href="#">neutal
                                    networks and for deep learning</a>
                                <div class="courses__content__author"><a class="courses__col-left" href="#"><span
                                            class="courses__content__avatar"><img class="courses__content__image"
                                                src="assets/img/partner/partner-details-4.png" alt=""></span><span
                                            class="courses__content__author-name">Anthony Leath</span></a>
                                    <div class="courses__col-right">
                                        <div class="rating-start" data-rating="5"></div>
                                    </div>
                                </div>
                                <div class="courses__content__info">
                                    <div class="courses__col-left">
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-shapes icon-custom"></span></span><span
                                                class="courses__content__number">349</span></div>
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span
                                                class="courses__content__number">2678</span></div>
                                    </div>
                                    <div class="courses__col-right courses__content__price">$100</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 courses__item">
                        <div class="courses__wapper">
                            <div class="col-equal courses__top">
                                <div class="courses__top__wapper"><img class="courses__top__image"
                                        src="assets/img/courses-image/5.jpg" alt=""></div>
                                <div class="courses__top__bundle">bundle</div>
                                <div class="courses__top__bt-seller">best seller</div>
                                <div class="courses__hover">
                                    <div class="courses__hover-content"><span class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span
                                            class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-equal courses__content"><a class="courses__content__title" href="#">neutal
                                    networks and for deep learning</a>
                                <div class="courses__content__author"><a class="courses__col-left" href="#"><span
                                            class="courses__content__avatar"><img class="courses__content__image"
                                                src="assets/img/partner/partner-details-5.png" alt=""></span><span
                                            class="courses__content__author-name">Anthony Leath</span></a>
                                    <div class="courses__col-right">
                                        <div class="rating-start" data-rating="5"></div>
                                    </div>
                                </div>
                                <div class="courses__content__info">
                                    <div class="courses__col-left">
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-shapes icon-custom"></span></span><span
                                                class="courses__content__number">349</span></div>
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span
                                                class="courses__content__number">2678</span></div>
                                    </div>
                                    <div class="courses__col-right courses__content__price">$100</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 courses__item">
                        <div class="courses__wapper">
                            <div class="col-equal courses__top">
                                <div class="courses__top__wapper"><img class="courses__top__image"
                                        src="assets/img/courses-image/6.jpg" alt=""></div>
                                <div class="courses__top__bundle">bundle</div>
                                <div class="courses__top__bt-seller">best seller</div>
                                <div class="courses__hover">
                                    <div class="courses__hover-content"><span class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span
                                            class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-equal courses__content"><a class="courses__content__title" href="#">neutal
                                    networks and for deep learning</a>
                                <div class="courses__content__author"><a class="courses__col-left" href="#"><span
                                            class="courses__content__avatar"><img class="courses__content__image"
                                                src="assets/img/partner/partner-details-6.png" alt=""></span><span
                                            class="courses__content__author-name">Anthony Leath</span></a>
                                    <div class="courses__col-right">
                                        <div class="rating-start" data-rating="5"></div>
                                    </div>
                                </div>
                                <div class="courses__content__info">
                                    <div class="courses__col-left">
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-shapes icon-custom"></span></span><span
                                                class="courses__content__number">349</span></div>
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span
                                                class="courses__content__number">2678</span></div>
                                    </div>
                                    <div class="courses__col-right courses__content__price">$100</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 courses__item">
                        <div class="courses__wapper">
                            <div class="col-equal courses__top">
                                <div class="courses__top__wapper"><img class="courses__top__image"
                                        src="assets/img/courses-image/7.jpg" alt=""></div>
                                <div class="courses__top__bundle">bundle</div>
                                <div class="courses__top__bt-seller">best seller</div>
                                <div class="courses__hover">
                                    <div class="courses__hover-content"><span class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span
                                            class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-equal courses__content"><a class="courses__content__title" href="#">neutal
                                    networks and for deep learning</a>
                                <div class="courses__content__author"><a class="courses__col-left" href="#"><span
                                            class="courses__content__avatar"><img class="courses__content__image"
                                                src="assets/img/partner/partner-details-7.png" alt=""></span><span
                                            class="courses__content__author-name">Anthony Leath</span></a>
                                    <div class="courses__col-right">
                                        <div class="rating-start" data-rating="5"></div>
                                    </div>
                                </div>
                                <div class="courses__content__info">
                                    <div class="courses__col-left">
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-shapes icon-custom"></span></span><span
                                                class="courses__content__number">349</span></div>
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span
                                                class="courses__content__number">2678</span></div>
                                    </div>
                                    <div class="courses__col-right courses__content__price">$100</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 courses__item">
                        <div class="courses__wapper">
                            <div class="col-equal courses__top">
                                <div class="courses__top__wapper"><img class="courses__top__image"
                                        src="assets/img/courses-image/8.jpg" alt=""></div>
                                <div class="courses__top__bundle">bundle</div>
                                <div class="courses__top__bt-seller">best seller</div>
                                <div class="courses__hover">
                                    <div class="courses__hover-content"><span class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span
                                            class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-equal courses__content"><a class="courses__content__title" href="#">neutal
                                    networks and for deep learning</a>
                                <div class="courses__content__author"><a class="courses__col-left" href="#"><span
                                            class="courses__content__avatar"><img class="courses__content__image"
                                                src="assets/img/partner/partner-details-8.png" alt=""></span><span
                                            class="courses__content__author-name">Anthony Leath</span></a>
                                    <div class="courses__col-right">
                                        <div class="rating-start" data-rating="5"></div>
                                    </div>
                                </div>
                                <div class="courses__content__info">
                                    <div class="courses__col-left">
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-shapes icon-custom"></span></span><span
                                                class="courses__content__number">349</span></div>
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span
                                                class="courses__content__number">2678</span></div>
                                    </div>
                                    <div class="courses__col-right courses__content__price">$100</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 courses__item">
                        <div class="courses__wapper">
                            <div class="col-equal courses__top">
                                <div class="courses__top__wapper"><img class="courses__top__image"
                                        src="assets/img/courses-image/9.jpg" alt=""></div>
                                <div class="courses__top__bundle">bundle</div>
                                <div class="courses__top__bt-seller">best seller</div>
                                <div class="courses__hover">
                                    <div class="courses__hover-content"><span class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span
                                            class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-equal courses__content"><a class="courses__content__title" href="#">neutal
                                    networks and for deep learning</a>
                                <div class="courses__content__author"><a class="courses__col-left" href="#"><span
                                            class="courses__content__avatar"><img class="courses__content__image"
                                                src="assets/img/partner/partner-details-9.png" alt=""></span><span
                                            class="courses__content__author-name">Anthony Leath</span></a>
                                    <div class="courses__col-right">
                                        <div class="rating-start" data-rating="5"></div>
                                    </div>
                                </div>
                                <div class="courses__content__info">
                                    <div class="courses__col-left">
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-shapes icon-custom"></span></span><span
                                                class="courses__content__number">349</span></div>
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span
                                                class="courses__content__number">2678</span></div>
                                    </div>
                                    <div class="courses__col-right courses__content__price">$100</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 courses__item">
                        <div class="courses__wapper">
                            <div class="col-equal courses__top">
                                <div class="courses__top__wapper"><img class="courses__top__image"
                                        src="assets/img/courses-image/10.jpg" alt=""></div>
                                <div class="courses__top__bundle">bundle</div>
                                <div class="courses__top__bt-seller">best seller</div>
                                <div class="courses__hover">
                                    <div class="courses__hover-content"><span class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span
                                            class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-equal courses__content"><a class="courses__content__title" href="#">neutal
                                    networks and for deep learning</a>
                                <div class="courses__content__author"><a class="courses__col-left" href="#"><span
                                            class="courses__content__avatar"><img class="courses__content__image"
                                                src="assets/img/partner/partner-details-10.png" alt=""></span><span
                                            class="courses__content__author-name">Anthony Leath</span></a>
                                    <div class="courses__col-right">
                                        <div class="rating-start" data-rating="5"></div>
                                    </div>
                                </div>
                                <div class="courses__content__info">
                                    <div class="courses__col-left">
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-shapes icon-custom"></span></span><span
                                                class="courses__content__number">349</span></div>
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span
                                                class="courses__content__number">2678</span></div>
                                    </div>
                                    <div class="courses__col-right courses__content__price">$100</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 courses__item">
                        <div class="courses__wapper">
                            <div class="col-equal courses__top">
                                <div class="courses__top__wapper"><img class="courses__top__image"
                                        src="assets/img/courses-image/11.jpg" alt=""></div>
                                <div class="courses__top__bundle">bundle</div>
                                <div class="courses__top__bt-seller">best seller</div>
                                <div class="courses__hover">
                                    <div class="courses__hover-content"><span class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span
                                            class="courses__hover-content__item"><span
                                                class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-equal courses__content"><a class="courses__content__title" href="#">neutal
                                    networks and for deep learning</a>
                                <div class="courses__content__author"><a class="courses__col-left" href="#"><span
                                            class="courses__content__avatar"><img class="courses__content__image"
                                                src="assets/img/partner/partner-details-11.png" alt=""></span><span
                                            class="courses__content__author-name">Anthony Leath</span></a>
                                    <div class="courses__col-right">
                                        <div class="rating-start" data-rating="5"></div>
                                    </div>
                                </div>
                                <div class="courses__content__info">
                                    <div class="courses__col-left">
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-shapes icon-custom"></span></span><span
                                                class="courses__content__number">349</span></div>
                                        <div class="col-left__item"><span class="courses__content__icon"><span
                                                    class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span
                                                class="courses__content__number">2678</span></div>
                                    </div>
                                    <div class="courses__col-right courses__content__price">$100</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="our-team">
                <div class="our-team__title">LISTE DES ETUDIANT POSTULER A LEUR OFFRES</div>
                <div class="our-team__gird">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="our-team__item">
                                <div class="our-team__wapper"><img class="our-team__image"
                                        src="assets/img/partner-details/partner-detail-1.png" alt=""></div><a
                                    class="our-team__name" href="#">Anna athaway</a><a class="our-team__job"
                                    href="#">Product Designer at Microsoft</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="our-team__item">
                                <div class="our-team__wapper"><img class="our-team__image"
                                        src="assets/img/partner-details/partner-details-2.png" alt=""></div><a
                                    class="our-team__name" href="#">Jason Adams</a><a class="our-team__job" href="#">Product
                                    Designer at Microsoft</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="our-team__item">
                                <div class="our-team__wapper"><img class="our-team__image"
                                        src="assets/img/partner-details/partner-details-3.png" alt=""></div><a
                                    class="our-team__name" href="#">Jason Adams</a><a class="our-team__job" href="#">Product
                                    Designer at Microsoft</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="our-team__item">
                                <div class="our-team__wapper"><img class="our-team__image"
                                        src="assets/img/partner-details/partner-details-4.png" alt=""></div><a
                                    class="our-team__name" href="#">Jason Adams</a><a class="our-team__job" href="#">Product
                                    Designer at Microsoft</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="our-team__item">
                                <div class="our-team__wapper"><img class="our-team__image"
                                        src="assets/img/partner-details/partner-details-5.png" alt=""></div><a
                                    class="our-team__name" href="#">Jason Adams</a><a class="our-team__job" href="#">Product
                                    Designer at Microsoft</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="our-team__item">
                                <div class="our-team__wapper"><img class="our-team__image"
                                        src="assets/img/partner-details/partner-details-6.png" alt=""></div><a
                                    class="our-team__name" href="#">Jason Adams</a><a class="our-team__job" href="#">Product
                                    Designer at Microsoft</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="our-team__item">
                                <div class="our-team__wapper"><img class="our-team__image"
                                        src="assets/img/partner-details/partner-details-7.png" alt=""></div><a
                                    class="our-team__name" href="#">Jason Adams</a><a class="our-team__job" href="#">Product
                                    Designer at Microsoft</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="our-team__item">
                                <div class="our-team__wapper"><img class="our-team__image"
                                        src="assets/img/partner-details/partner-details-8.png" alt=""></div><a
                                    class="our-team__name" href="#">Jason Adams</a><a class="our-team__job" href="#">Product
                                    Designer at Microsoft</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="breadcrumb-wapper">
                <ul class="breadcrumb">
                    <li class="breadcrumb__item"><a class="breadcrumb__link" href="index.html">home</a></li>
                    <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">design</a></li>
                    <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="#">partner details</a></li>
                </ul>
            </nav>
        </div>
    </main>
{% endblock %}