{% extends 'baseHeaderFooter/header.html.twig' %}

{% block title %}Hello Home{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <div class="intro-course-content">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="intro-course">
                            <h2 class="intro-course__title">Easy Learning</h2>
                            <div class="intro-course__infor">
                                <div class="intro-course__infor__item"><a class="intro-course__infor__name"
                                        href="#">Jonathan Jamp</a><span class="intro-course__infor__time">June 25,
                                        2018</span></div>
                                <div class="intro-course__infor__item">
                                    <div class="col-left__item"><span class="courses__content__icon"><span
                                                class="glyph-icon flaticon-shapes icon-custom"></span></span><span>347</span>
                                    </div>
                                    <div class="col-left__item"><span class="courses__content__icon"><span
                                                class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span>347</span>
                                    </div>
                                </div>
                            </div>
                            <div class="intro-course__wapper"><img class="intro-course__wapper__image"
                                    src="assets/img/blog-details/blog-details-1.jpg" alt=""></div>
                            <div class="intro-course__sub">
                                <div class="text-sub">
                                    Never settle for less! You can have everything you want and need. Use the most powerful
                                    and flexible tool to define an impressive on-line presence.
                                    Phosfluo rescently white board empowered applications before cooperative e-markets.
                                    Dramatically monetize compelling markets without cross-unit quality vectors.
                                    Professionally syndicate client-focused innovation rather than premium supply chains.
                                </div>
                                <div class="info-course__item">Distinctively benchmark strategic content whereas distinctive
                                    internal or “organic” sources. Professionally disintermediate unique users for real-time
                                    systems.</div>
                                <div class="text-sub">Rapidiously whiteboard premium applications and scalable convergence.
                                    Proactively facilitate dynamic e-tailers and functional meta-services. Authoritatively
                                    formulate timely models vis-a-vis.</div>
                            </div>
                            <div class="row intro-course__col">
                                <div class="col-md-6">
                                    <div class="intro-course__wapper"><img class="intro-course__wapper__image"
                                            src="assets/img/blog-details/blog-details-2.jpg" alt=""></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="intro-course__col__item">
                                        <div class="intro-course__item__title">HOW TO DO THIS ?</div>
                                        <div class="text-sub" id="text-js">
                                            Completely incubate go forward innovation progressive portals. Completely seize
                                            building
                                            ROI via premium “outside the box” thinking. Continually productize an expanded
                                            array of process improvements with innovative systems.
                                            Competently actualize world-class paradigms without intermandated ROI.
                                            Rapidiously underwhelm efficient
                                            Completely incubate go forward innovation progressive portals. Completely seize
                                            building
                                            ROI via premium “outside the box” thinking. Continually productize an expanded
                                            array of process improvements with innovative systems.
                                            Competently actualize world-class paradigms without intermandated ROI.
                                            Rapidiously underwhelm efficient
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="intro-course__section">
                                <div class="intro-course__section__title">Comments</div>
                                <div class="comments">
                                    <div class="comments__list">
                                        <div class="comments__item">
                                            <div class="comments__item__info">
                                                <div class="comments__item__name">SCOTT TRAVIS</div>
                                                <div class="comments__item__time">Feb 18, 2015</div>
                                            </div>
                                            <div class="text-sub">Rapidiously whiteboard premium applications and scalable
                                                convergence. Proactively facilitate dynamic e-tailers and functional
                                                meta-services. Enthusiastically monetize mission-critical markets via team.
                                            </div><a class="column-left__link" href="#">Reply</a>
                                            <div class="comments__reply">
                                                <div class="comments__reply__item">
                                                    <div class="comments__item__info">
                                                        <div class="comments__item__name">DANNY DEVITO</div>
                                                        <div class="comments__item__time">Feb 18, 2015</div>
                                                    </div>
                                                    <div class="text-sub">Rapidiously whiteboard premium applications and
                                                        scalable convergence. Proactively facilitate dynamic e-tailers and
                                                        functional meta-services. Enthusiastically monetize mission-critical
                                                        markets via team.</div><a class="column-left__link"
                                                        href="#">Reply</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comments__item">
                                            <div class="comments__item__info">
                                                <div class="comments__item__name">DANNY DEVITO</div>
                                                <div class="comments__item__time">Feb 18, 2015</div>
                                            </div>
                                            <div class="text-sub">Rapidiously whiteboard premium applications and scalable
                                                convergence. Proactively facilitate dynamic e-tailers and functional
                                                meta-services. Enthusiastically monetize mission-critical markets via team.
                                            </div><a class="column-left__link" href="#">Reply</a>
                                        </div>
                                        <div class="comments__item">
                                            <div class="comments__item__info">
                                                <div class="comments__item__name">JARED LETO</div>
                                                <div class="comments__item__time">Jun 07, 2018</div>
                                            </div>
                                            <div class="text-sub">Rapidiously whiteboard premium applications and scalable
                                                convergence. Proactively facilitate dynamic e-tailers and functional
                                                meta-services. Enthusiastically monetize mission-critical markets via team.
                                            </div><a class="column-left__link" href="#">Reply</a>
                                        </div>
                                    </div>
                                    <div class="comments__view-more"><a class="list-course__header__btn"><span
                                                class="list-course__header__text">view more</span></a>
                                        <div class="list-course__header__icon"><span
                                                class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="intro-course__section comments-form">
                                <div class="intro-course__section__title">Leave A Comment</div>
                                <div class="text-sub">Your email address will not be published. Required fields are marked.
                                </div>
                                <form>
                                    <input class="input-item" type="text" placeholder="Your name">
                                    <input class="input-item" type="text" placeholder="Your mail">
                                    <textarea class="input-item input-textarea"
                                        placeholder="Everybody good? Plenty of slaves for my robot colony? - Interstellar"></textarea>
                                    <button class="btn-green" type="submit">Send to Us</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="bg-details-right">
                            <div class="bg-details-right__item">
                                <div class="column-left__title">Categories</div>
                                <ul class="list-catagories__list">
                                    <li class="list-catagories__item"><a class="list-catagories__link active">all</a>
                                    </li>
                                    <li class="list-catagories__item"><a class="list-catagories__link ">Art and
                                            humanlities</a>
                                    </li>
                                    <li class="list-catagories__item"><a class="list-catagories__link ">computer science</a>
                                    </li>
                                    <li class="list-catagories__item"><a class="list-catagories__link ">data science</a>
                                    </li>
                                    <li class="list-catagories__item"><a class="list-catagories__link ">Information
                                            technology</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="bg-details-right__item">
                                <div class="column-left__title">archives</div>
                                <ul class="list-catagories__list">
                                    <li class="list-catagories__item"><a class="list-catagories__link ">23 November 2018</a>
                                    </li>
                                    <li class="list-catagories__item"><a class="list-catagories__link ">07 January 2018</a>
                                    </li>
                                    <li class="list-catagories__item"><a class="list-catagories__link ">20 October 2017</a>
                                    </li>
                                    <li class="list-catagories__item"><a class="list-catagories__link ">13 May 2017</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="instructor-right__item">
                                <div class="column-left__title">recent Posts</div>
                                <div class="courses__list blogs">
                                    <div class="courses__item">
                                        <div class="courses__top">
                                            <div class="courses__top__wapper"><img class="courses__top__image"
                                                    src="assets/img/09.png" alt=""></div>
                                        </div>
                                        <div class="courses__content"><a class="courses__content__title" href="#">neutal
                                                networks and for deep learning</a>
                                            <div class="courses__content__info">
                                                <div class="courses__info__item"><span
                                                        class="glyph-icon flaticon-calendar icon-custom courses__content__icon"></span><span
                                                        class="courses__content__number">Nov 23, 2018</span></div>
                                                <div class="courses__info__item"><span
                                                        class="glyph-icon flaticon-view icon-custom courses__content__icon"></span><span
                                                        class="courses__content__number">201</span></div>
                                                <div class="courses__info__item"><span
                                                        class="glyph-icon flaticon-multimedia-1 icon-custom courses__content__icon"></span><span
                                                        class="courses__content__number">201</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="courses__item">
                                        <div class="courses__top">
                                            <div class="courses__top__wapper"><img class="courses__top__image"
                                                    src="assets/img/09.png" alt=""></div>
                                        </div>
                                        <div class="courses__content"><a class="courses__content__title" href="#">neutal
                                                networks and for deep learning</a>
                                            <div class="courses__content__info">
                                                <div class="courses__info__item"><span
                                                        class="glyph-icon flaticon-calendar icon-custom courses__content__icon"></span><span
                                                        class="courses__content__number">Nov 23, 2018</span></div>
                                                <div class="courses__info__item"><span
                                                        class="glyph-icon flaticon-view icon-custom courses__content__icon"></span><span
                                                        class="courses__content__number">201</span></div>
                                                <div class="courses__info__item"><span
                                                        class="glyph-icon flaticon-multimedia-1 icon-custom courses__content__icon"></span><span
                                                        class="courses__content__number">201</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="courses__item">
                                        <div class="courses__top">
                                            <div class="courses__top__wapper"><img class="courses__top__image"
                                                    src="assets/img/09.png" alt=""></div>
                                        </div>
                                        <div class="courses__content"><a class="courses__content__title" href="#">neutal
                                                networks and for deep learning</a>
                                            <div class="courses__content__info">
                                                <div class="courses__info__item"><span
                                                        class="glyph-icon flaticon-calendar icon-custom courses__content__icon"></span><span
                                                        class="courses__content__number">Nov 23, 2018</span></div>
                                                <div class="courses__info__item"><span
                                                        class="glyph-icon flaticon-view icon-custom courses__content__icon"></span><span
                                                        class="courses__content__number">201</span></div>
                                                <div class="courses__info__item"><span
                                                        class="glyph-icon flaticon-multimedia-1 icon-custom courses__content__icon"></span><span
                                                        class="courses__content__number">201</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-details-right__item">
                                <div class="column-left__title">twitter</div>
                                <ul class="history-twitter">
                                    <li class="history-twitter__item">
                                        <div class="history-twitter__item__top"><a href="#">@YouTube</a><span>2 DAYS
                                                AGO</span></div>
                                        <div class="history-twitter__item__content"><span>Import Google Classroom Classes in
                                                Superwise Theme:</span><a
                                                href="#">https://t.co/hwVngv7OJ6</a><span>via</span><a href="#">@YouTube</a>
                                        </div>
                                    </li>
                                    <li class="history-twitter__item">
                                        <div class="history-twitter__item__top"><a href="#">@YouTube</a><span>3 DAYS
                                                AGO</span></div>
                                        <div class="history-twitter__item__content"><span>Import Google Classroom Classes in
                                                Superwise Theme:</span><a
                                                href="#">https://t.co/hwVngv7OJ6</a><span>via</span><a href="#">@YouTube</a>
                                        </div>
                                    </li>
                                    <li class="history-twitter__item">
                                        <div class="history-twitter__item__top"><a href="#">@YouTube</a><span>3 DAYS
                                                AGO</span></div>
                                        <div class="history-twitter__item__content"><span>Soon on Themeforest! Google
                                                classroom + WordPress</span><a href="#">https://t.co/zRDkbl3YTT</a></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="breadcrumb-wapper">
                <ul class="breadcrumb">
                    <li class="breadcrumb__item"><a class="breadcrumb__link" href="index.html">home</a></li>
                    <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="#">blog details sidebar</a>
                    </li>
                </ul>
            </nav>
        </div>
    </main>

{% endblock %}